@using OpenWish.Shared.Extensions;

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Price</th>
                <th>Priority</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Items)
            {
                @if (EditingItemId == item.Id)
                {
                    <tr>
                        <td colspan="5">
                            <WishlistItemForm 
                                Model="@item" 
                                OnSubmit="@HandleEditSubmit" 
                                OnCancel="@HandleOnCancel" />
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                        <td>@item.Price?.ToString("C")</td>
                        <td>@item.Priority</td>
                        <td>
                            <span class="tooltip-container">
                                @item.CreatedOn.ToLocalHumanizedString()
                                <span class="tooltip-text">@item.CreatedOn.ToLocalTime()</span>
                            </span>
                        </td>
                        <td>
                            <button 
                                class="btn btn-sm btn-primary" 
                                @onclick="() => StartEdit(item.Id)">
                                Edit
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

@code {
    [Parameter] public IEnumerable<WishlistItemModel> Items { get; set; } = Array.Empty<WishlistItemModel>();
    [Parameter] public EventCallback<WishlistItemModel> OnEdit { get; set; }
    
    
    private int? EditingItemId;

    private void StartEdit(int itemId)
    {
        EditingItemId = itemId;
    }

    private async Task HandleEditSubmit(WishlistItemModel item)
    {
        if (OnEdit.HasDelegate)
        {
            await OnEdit.InvokeAsync(item);
        }
        EditingItemId = null;
    }

    private async Task HandleOnCancel(WishlistItemModel item)
    {
        EditingItemId = null;
    }
}